body{
    background-color: hotpink;
    text-align: center;
    align-items: center;
}
button{
    background-color: darkmagenta;
    font-size: x-large;
}
img{
    width: 400px;
    height: 400px;
}
a{
    background-color: darkmagenta;
    font-size: x-large;
}